.Weather {
  font-family: Poppings, sans-serif;
  border: 1px solid #FFFFFF;
    max-width: 500px;
    margin: auto;
  padding: 16px;
  border-radius: 4px;
  color: #FFFFFF;
    background-color: #1E1E2F;
  
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather img {
  height: 64px;
  width: 64px;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}


.Weather .unit {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}